<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}SISHOTEL{% endblock %}</title>
    {% block css_owner %}{% endblock %}
</head>
<body>
    <table width="98%" align="center" border="1" style="border-collapse: collapse;">
        <!-- Aqui esta la configuración del encabezado -->
        <thead>
            <tr>
                <td colspan="2">{% include 'parciales/head.html' %}</td>
            </tr>
        </thead>
        <!-- Fin encabezado -->
        <tbody>
            <tr>
                <td width="20%" valign="top">{% include 'parciales/menu.html' %}</td>
                <td>{% block cuerpo %}{% endblock %}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Contacto</td>
            </tr>
        </tfoot>
    </table>
    {% block js_owner %}{% endblock %}
</body>
</html>